In [5]:
import pandas as pd
import numpy as np

In [100]:
df = pd.DataFrame(np.random.randn(5,3),index=range(0,10,2),columns=list('ABC'))

In [101]:
df

          A         B         C
0  0.256054 -0.025630 -1.108797
2  1.766054 -1.003439 -0.703147
4  0.857863 -0.464332  1.225459
6  0.550564  0.168159 -0.768391
8 -1.238786 -0.419822  1.265726

In [102]:
df = df.loc[df['A']>1]

In [103]:
df

          A         B         C
2  1.766054 -1.003439 -0.703147

In [104]:
df.shape

(1, 3)

In [105]:
df.index[0]

2

In [106]:
df.at[df.index[0],'A']

1.7660535685202161

In [107]:
df.loc[df.index[0],['B','C']]

B   -1.003439
C   -0.703147
Name: 2, dtype: float64

In [108]:
test_pred_df = pd.DataFrame(columns=['B','C'])

In [109]:
test_pred_df.loc[len(test_pred_df)]=df.loc[df.index[0],['B','C']]

In [110]:
test_pred_df

          B         C
0 -1.003439 -0.703147